html, body {
    height: 100%;
    margin: 0;
}

#main-page{
    min-height: 100vh;
}

.navbar-custom{
    background-color: green;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;

    
}

@media (max-width: 992px) { 
    
    .costom-navbar-brand{
        padding-left: 50%;
    }
 }


.navbar-custom-user{
    float: right ;
    margin-right: 20px;
}

.center{
    top: 50%; 
    left: 50%;
}

.custom-sidebar{
    padding:20px;
    background-color: #e8e8e8;
    z-index: 200;
}

.sidebarArticle{
    padding-top:20px;
}

.custom-checkbox .custom-control-input.important-task ~ .custom-control-label::before {
    border-color: #ff0000;
}

.custom-checkbox .custom-control-input.important-task:checked ~ .custom-control-label::before {
    background-color: #ff0000;
}

.custom-checkbox .custom-control-input.important-task:focus ~ .custom-control-label::before {
    box-shadow:  0 0 0 0.2rem rgb(255, 148, 148);
}

.custom-shared-image{
    display: inline-block;
    margin-left: 30%;
}



.addTask{
    color: white;
    background-color: green !important;
    position: fixed;
    bottom: 70px;
    right: 70px;
    height: 70px;
    width: 70px;
    z-index: 100;
}

.addTask:hover {
    color:black !important;
    background-color: greenyellow !important;
    border-color:honeydew;
}

.addTask:active {
    color: #fff;
    background-color: greenyellow !important;
    border-color:honeydew;
}

.custom-add{

    font-weight: bold;
    font-size: large;
}

.custom-selected-filter{
    background-color: green !important;
    color: white;
}

.custom-main-page{
    padding-left: 20px;
    padding-top: 40px;
}

.custom-badge{
    margin-left: 50px;
}

.list-group-item:hover{
    background-color: rgb(164, 202, 159);
}

.costom-expired-data{
    color: red;
}